.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
  max-width: 150px;
	min-height: 40px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
	color: var(--light-color);
	background-color: var(--btn-color);
  opacity: 1;
	transition: opacity .3s ease-in-out;
	cursor: pointer;

	&:focus {
		outline: none;
	}

  @include for-desktop {
    &:hover {
      opacity: .5;
    }
  }

	&:active {
    opacity: 1;
		background-color: var(--active-color);
	}
}

.btn.focus-visible {
  background-color: var(--focus-color);
}
