<section class="capabilities">
  <div class="container capabilities__container flex">
    <div class="capabilities__box flex">
      <h2 class="section-title capabilities__box-title">Our capabilities</h2>
      <div class="capabilities__box-inner flex">
        <p class="capabilities__box-inner-descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        <a href="#" class="btn-reset btn capabilities__box-inner-link">All services</a>
      </div>
    </div>
    <ul class="list-reset capabilities__list grid">
      <li class="capabilities__item">
        <article class="capabilities__item-article flex">
          <div class="capabilities__item-article-image capabilities__item-article-image--1"></div>
          <h3 class="capabilities__item-article-subtitle">PROJECT AND CONSTRUCTION MANAGEMENT</h3>
          <p class="capabilities__item-article-descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </article>
      </li>
      <li class="capabilities__item">
        <article class="capabilities__item-article flex">
          <div class="capabilities__item-article-image capabilities__item-article-image--2"></div>
          <h3 class="capabilities__item-article-subtitle">STRUCTURE AUDIT AND MAINTENANCE</h3>
          <p class="capabilities__item-article-descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </article>
      </li>
      <li class="capabilities__item">
        <article class="capabilities__item-article flex">
          <div class="capabilities__item-article-image capabilities__item-article-image--3"></div>
          <h3 class="capabilities__item-article-subtitle">FACTORY CONSTRUCTION AND MODELING</h3>
          <p class="capabilities__item-article-descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </article>
      </li>
    </ul>
  </div>
</section>
