<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="touch">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content grid">
      <div class="graph-modal__box">
        <h2>GET IN TOUCH</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
      </div>
      <form action="#" class="form graph-modal__form flex">
        <label class="graph-modal__form-label">
          <input type="text" name="Имя" class="input-reset graph-modal__form-input input-name" placeholder="Имя">
        </label>
        <label class="graph-modal__form-label">
          <input type="tel" name="tel" class="input-reset graph-modal__form-input input-tel1" placeholder="Телефон">
        </label>
        <label class="graph-modal__form-label">
          <input type="email" name="email" class="input-reset graph-modal__form-input input-email" placeholder="Email">
        </label>
        <button type="submit" class="btn-reset btn graph-modal__form-btn">Отправить</button>
      </form>
    </div>
  </div>
</div>