<section class="story">
  <div class="container story__container flex">
    <h2 class="section-title story__title">Our story</h2>
    <div class="story__inner grid">
      <div class="story__inner-text flex">
        <h3 class="story__inner-text-title">Founded in 2011 by John Mathew Smith, <span>Konstruct</span> has become the number one construction management firm</h3>
        <p class="story__inner-text-descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
      </div>
      <ul class="list-reset story__inner-list grid">
        <li class="story__inner-item story__inner-item--1">We<br>plan</li>
        <li class="story__inner-item story__inner-item--2">We<br>manage</li>
        <li class="story__inner-item story__inner-item--3">We<br>build</li>
      </ul>
    </div>
  </div>
</section>
