// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "OpenSans", sans-serif;
  --second-family: "BebasNeueBold", sans-serif;
  --content-width: 970px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --btn-color: #00a4e5;
  --text-color: #48555B;
}
