// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "OpenSans", sans-serif;
  --second-family: "BebasNeueBold", sans-serif;
  --content-width: 970px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --offset: 20px;

  // colors
  --light-color: #fff;
  --btn-color: #00a4e5;
  --text-color: #48555b;
  --active-color: #0481b3;
  --focus-color: #366274;
}
